PySide6==6.11.2
yt-dlp==2026.8.19
gallery-dl @ https://codeberg.org/mikf/gallery-dl/archive/master.tar.gz
pyinstaller==6.22.2
imageio-ffmpeg==0.6.0
pycryptodomex==3.23.0
curl_cffi==0.16.3
cffi==2.1.1
pycparser==3.0
brotli==1.2.0
mutagen==1.48.1
requests==2.34.2
packaging==26.3
altgraph==0.17.5
pefile==2024.8.26
pywin32-ctypes==0.2.3
pyinstaller-hooks-contrib==2026.7
charset_normalizer==3.5.1
idna==3.19
urllib3==2.7.0
certifi==2026.7.22
